name: flutter_hook_form_example
description: A comprehensive example for flutter_hook_form package.
publish_to: "none"

version: 1.0.0

environment:
  sdk: ^3.10.4

dependencies:
  flutter:
    sdk: flutter
  flutter_hook_form:
    path: ../
  flutter_hooks: ^0.18.4

dev_dependencies:
  flutter_lints: ^5.0.0
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true
